.player {
	width:612px;
	height:662px;
	overflow:hidden;
	position:relative;
}

.roll-holder {
	position:relative;
	right:0;
	width:331px;
	height:50px;
}

.roll {
	height:50px;
	margin:0;
	padding:0;
	
	-webkit-transition: -webkit-transform 150ms ease-in;
	   -moz-transition: -moz-transform 	  150ms ease-in;
	    -ms-transition: -ms-transform 	  150ms ease-in;
	     -o-transition: -o-transform 		  150ms ease-in;
	        transition: transform 			  150ms ease-in; /* transition-property transition-duration(ms/s) transition-timing-function(ease-out/ease/linear/ease-in-out/ease-in/cubic-bezier(0.42, 0, 1.0, 1.0)/step-start/steps(3)/steps(3,start)/step-end) transition-delay(+-ms/s) */
	float:left;
}

.roll li {
	float:left;
	width:50px;
	height:50px;
}

.roll img {
	width:50px;
	height:50px;
	
	-webkit-transition: -webkit-transform 200ms ease-out;
	   -moz-transition: -moz-transform 		200ms ease-out;
	    -ms-transition: -ms-transform 		200ms ease-out;
	     -o-transition: -o-transform 			200ms ease-out;
	        transition: transform 				200ms ease-out; /* transition-property transition-duration(ms/s) transition-timing-function(ease-out/ease/linear/ease-in-out/ease-in/cubic-bezier(0.42, 0, 1.0, 1.0)/step-start/steps(3)/steps(3,start)/step-end) transition-delay(+-ms/s) */	
}

.roll .active img {
	-webkit-transition-timing-function: ease-in;
	   -moz-transition-timing-function: ease-in;
	    -ms-transition-timing-function: ease-in;
	     -o-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;
}

.csstransforms .roll .active img {

	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);
	
}

.csstransforms3d .roll .active img {

	-webkit-transform: scale3d(1.5, 1.5, 1);
	   -moz-transform: scale3d(1.5, 1.5, 1);
	    -ms-transform: scale3d(1.5, 1.5, 1);
	     -o-transform: scale3d(1.5, 1.5, 1);
	        transform: scale3d(1.5, 1.5, 1);
	
}

.roll li {
	padding:0;
	list-style:none;
}