body {
  background:#dbdfe4;
  margin-top:100px;
}

.player {
	width:450px;
	height:450px;
	overflow:hidden;
	position:relative;
	margin:0 auto;
	-webkit-box-shadow: 0 0 6px -3px #000;
	   -moz-box-shadow: 0 0 6px -3px #000;
	        box-shadow: 0 0 6px -3px #000; /* inset offset-x offset-y blur spread color */
	
}

.player-poster {
  width:450px;
  height:450px;
}

.player-bar {
  top:-94px;
  position:relative;
  background:#fff;
  width:444px;
  margin:0 auto;
  overflow:hidden;
}

.roll-holder {
	position:relative;
	height:80px;
	padding:5px 0 5px 0;

	-webkit-transition: -webkit-transform 300ms ease-in ;
     -moz-transition: -moz-transform    300ms ease-in ;
      -ms-transition: -ms-transform     300ms ease-in ;
       -o-transition: -o-transform      300ms ease-in ;
          transition: transform         300ms ease-in ;
}

.active .roll-holder {
  
  -webkit-transform: translate3d(183px,0,0);
     -moz-transform: translate3d(183px,0,0);
      -ms-transform: translate3d(183px,0,0);
       -o-transform: translate3d(183px,0,0);
          transform: translate3d(183px,0,0);
  
}

/*
.roll-holder:before {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid red;
	display: block;
	position: absolute;
	top: -10px;
	left: 5px;
	content: "";
	z-index: 5;
}*/

.roll {
	height:80px;
	margin:0;
	padding:0;

	-webkit-transition: opacity 300ms ease-in;
	   -moz-transition: opacity 300ms ease-in;
	    -ms-transition: opacity 300ms ease-in;
	     -o-transition: opacity 300ms ease-in;
	        transition: opacity 200ms ease-in;
	        
	float:left;
	opacity:0;
	width:450px;
}

.ready .roll {
  opacity:.7;
}

.active .roll {
  opacity:1;
}

.roll li {
	float:left;
	width:80px;
	height:80px;
	margin:0 3px 0 0;
	background:#fff;
	list-style:none;
	overflow:hidden;
	
	-webkit-transition: width 300ms ease-in;
	   -moz-transition: width 300ms ease-in;
	    -ms-transition: width 300ms ease-in;
	     -o-transition: width 300ms ease-in;
	        transition: width 300ms ease-in; 
	
}

.roll img {
	width:80px;
	height:80px;
}

.playPause {
  
  background:url(images/play.png) ;
  
	width: 74px;
	height: 74px;
	display: block;
	position: absolute;
	bottom:52px;
	left: 50%;
	text-align: center;
	line-height: 40px;
	
	z-index:2;
	
	margin-left:-37px;
	
	-webkit-user-seect: none;
	-moz-user-select: none;
  -khtml-user-select: none;
	-o-user-seect: none;
	
	cursor:pointer;
	
	-webkit-transition: opacity 250ms ease-in 1s;
	   -moz-transition: opacity 250ms ease-in 1s;
	    -ms-transition: opacity 250ms ease-in 1s;
	     -o-transition: opacity 250ms ease-in 1s;
	        transition: opacity 250ms ease-in 1s; /* transition-property transition-duration(ms/s) transition-timing-function(ease-out/ease/linear/ease-in-out/ease-in/cubic-bezier(0.42, 0, 1.0, 1.0)/step-start/steps(3)/steps(3,start)/step-end) transition-delay(+-ms/s) */
	
	overflow:hidden;
	text-indent:-999em;
  user-select: none;
}

.paused {
	background: green;
}

.player:hover .playPause, .paused {
	opacity:1;
	
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
	    -ms-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
}

